<header class="sticky-top">
    <nav class="navbar navbar-expand-sm p-0 sticky-top bg-light shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="/">AquaMonitor</a>
        <span class="navbar-text me-auto px-3">{{ title }} </span>
        <ul class="navbar-nav">
            <li class="nav-item text-nowrap">
                <a class="nav-link" routerLink="/my-devices">Device Overview</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" routerLink="/settings/account">Settings</a>
            </li>
        </ul>
    </nav>
</header>
