/*
.home {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 1.8em;
    float: left;
}

.about , .product, .sign-in{
    margin-top: 11px;
    margin-right: 3%;
    font-size: 1.5em;
    float: right;

}
*/
