<nav class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/my-devices/device-name/summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/my-devices/device-name/parameters">Parameters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/my-devices/device-name/run-tests">Run Tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/my-devices/device-name/schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/my-devices/device-name/notifications">Notifications</a>
            </li>
        </ul>
    </div>
</nav>
