# Exclude everything
*

# Make exceptions for what's needed
!.browserslistrc
!src
!angular.json
!extra-webpack.config.js
!karma.conf.js
!package.json
!package-lock.json
!tsconfig.app.json
!tsconfig.json
!tsconfig.spec.json
