.dashboard-body {
    background-color: rgba(241, 248, 255, 1);
    min-height: 100vh;
    overflow: hidden;
}
.main-content {
    margin-left: 305px;
    margin-top: 2rem;
}
.content {
    min-height: 100vh;
    padding: 2rem;
}
