.btn-block {
    width: 100%;
}
.notification {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    span {
        font-weight: bold;
    }
}
.error {
    border-bottom: 2px solid red;
}
